<div class="m-trickle m-trickle__{{_id}} {{_trickle._button._component}}{{#if _trickle._button._isLocking}} is-locking{{/if}}{{#if _trickle._button._isFullWidth}} is-full-width{{/if}}{{#if _trickle._button._className}} {{_trickle._button._className}}{{/if}}">

  {{{a11y_aria_label _globals._extensions._trickle.incompleteContent}}}

  <div class="m-trickle__inner js-trickle-btn-container {{_trickle._button._component}}__inner{{#unless _trickle._button._isVisible}} u-display-none{{/unless}}">

    <button class="btn-text m-trickle__btn js-trickle-btn {{_trickle._button._component}}__btn{{#if _trickle._button._isDisabled}} is-disabled{{/if}}"{{#if _trickle._button._isDisabled}} disabled="disabled"{{/if}}>
    {{#if _trickle._isFinal}}

      {{#if _trickle._button.finalText}}
      {{{_trickle._button.finalText}}}
      {{else}}
      {{{_trickle._button.text}}}
      {{/if}}

    {{else}}

      {{#if _trickle._isStart}}
        {{#if _trickle._button.startText}}
        {{{_trickle._button.startText}}}
        {{/if}}
      {{else}}
        {{{_trickle._button.text}}}
      {{/if}}

    {{/if}}
    </button>

  </div>

</div>
